{{!-- {{!< main}}
<title>Dashboard</title>
<h1>Dashboard</h1>

{{#if success}}
<div class="alert alert-success" role="alert">
    Hồ sơ đã được thêm thành công!
</div>
{{/if}}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông tin tổng quan</h5>
                <p class="card-text">Đây là nội dung tổng quan về hoạt động của hệ thống.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thống kê</h5>
                <p class="card-text">Đồ thị thống kê sự phân bổ của các hồ sơ đã được quản lý.</p>
            </div>
        </div>
    </div>
</div> --}}
{{!< main}}
<title>Dashboard</title>
<h1>Dashboard</h1>

{{#if success}}
<div class="alert alert-success" role="alert">
    Hồ sơ đã được thêm thành công!
</div>
{{/if}}

<div class="row mt-4">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông tin tổng quan</h5>
                <p class="card-text">Đây là nội dung tổng quan về hoạt động của hệ thống.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thống kê</h5>
                <p class="card-text">Đồ thị thống kê sự phân bổ của các hồ sơ đã được quản lý.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Phần iframe để nhúng trang SharePoint -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Q1qOuKzZYRg?si=q7AwJWq-wV-ezLFl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
